.vertical-align {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  margin: 0;
  text-align: center;  
}

.background {
  background-color: #FAF8EF;
  background-image: url("background.gif");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  
  width: 100%;
  height: 100%;
  position: absolute;
}

.blur {
  background-color: rgba(255, 255, 255, 0.5);
  background-image: url("dots-tile.png");
  background-size: 75px 75px;
  width: 100%;
  height: 100%;
  position: absolute;
}

.play-btn {
  display: block;
  margin-left: 50%;
  transform: translate(-50%, 0%);
  width: 200px;
  height: 100px;
  border-radius: 8px;
  background-color: #8F7A66;
  color: white;
  font-family: ClearSans;
  font-size: 1.5em;
}

a:hover {
  text-decoration: none;
}

.btn-label {
  
}

@font-face {
  font-family: ClearSans;
  src: url("ClearSans-Bold.woff");
}

.logo {
  width: 80%;
  height: auto;
}

body {  
  position: inline;
}